*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
html, body {width: auto!important; overflow-x: hidden!important} 

::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    background-color: #111111;
    border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 100px;
}
#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    border: 0;
    z-index: 99;
    color: white;
    background-color: #00a4cc;
    padding: 8px 18px !important;
  }

#pcja{
    margin-left: 30%;
}

.navbar{
    display: flex;
    align-items: center;

}

#searchbar {
    border-radius: 5px;
    padding: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
nav{
    flex: 1;
    text-align: right;
   
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -2%;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
  background: #563434;
}

.header{
    background: radial-gradient(#ff523b,);
}

.categories{
     margin: 70px 0;
 }

.col-3{
    margin: 20px;
    flex: 20%;
    min-width: 100px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.4s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
   font-size: 14px;
}

.col-4:hover{
    transform: translateY(-10px);
}

/* ofertat */

.offer{
    background-color: rgb(255, 250, 236);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
}

#butoni{
    margin-left: 13%;
    margin-top: -17%;
}


/* brandet */

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}

/* footer */

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-1 a{
    color: #8a8a8a;
}
.footer-col-1 a:hover{
    color: #666666;
}

.footer-col-2{
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.social a{
    color: #8a8a8a;
    display: block;
}
.social a:hover {
    color: #666666;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

/* menu */

.menu-icon{
    width: 28px;
    display: none;
    margin-left: 20px;
}
/* responsive per menu */

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white;
        font-size: larger;
    }
    nav ul li a:hover{
        color: red;

    }
    .menu-icon{
        display: block;
        cursor: pointer
    }
    #searchbar {
        width: 25%;
        margin-right: 6%;
    }

    #butoni{
        margin-top: 0%;
    }
    .col-2 h1 {
        font-size: 2.3em;
    }
}


/* for product page */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
       display: inline-block;
       border: 1px solid #ff523b;
       margin-left: 10px;
       width: 40px;
       height: 40px;
       text-align: center;
       line-height: 40px;
       cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: white;
}

/* single products */

.single-product{
    margin-top: 80px;

}

.single-product .col-2 img{
      padding: 0;
}

.single-product .col-2{
   padding: 20px;
}

.single-product  h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus{
 outline: none;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}



@media only screen and (max-width: 600px)
{
    .row{
       text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    #butoni{
        margin-top: 5%;
        margin-left: 5%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p{
        display: none;
    }
    #pcja{
        margin-left: 0;
    }
    #searchbar {
        width: 40%;
        margin-right: 12%;
    }
}

/* account css */

.account-page{
    padding: 50px 0;
    background-color: rgb(255, 250, 236);;
    
}

.form-container{
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 0 0 20px 0px ;
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form  input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
outline: none;
}

#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/* Cart items gggggg */


.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 385px;
}

td:last-child{
    text-align: right;
}

.text-height:last-child{
    text-align: right;
}